@model WazniakWebsite.Models.MathematicalTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

	<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd>
        <div class="well-large alert alert-info text-center">
            @Html.DisplayFor(model => model.Title)
        </div>
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Text)
    </dt>

    <dd>
        <div class="well-large alert alert-info">
            @Html.DisplayFor(model => model.Text)
        </div>
    </dd>

</dl>

<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
