@model WazniakWebsite.Models.MathematicalTask

@{
    ViewBag.Title = "Details";
}

<h2 class="PurpleText">Details</h2>

<hr />
<div class="form-horizontal">
        
    <div class="form-group">
        <label class="control-label col-md-2 PurpleText">Subject</label>
        <div class="col-md-10">
            <div class="alert lightPurpleBackground">
                @Html.DisplayFor(model => model.Subject.Name)
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 PurpleText">Exercise Title</label>
        <div class="col-md-10">
            <div class="alert lightPurpleBackground text-center">
                <b>@Html.DisplayFor(model => model.Title)</b>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2 PurpleText" })
        <div class="col-md-10">
            <div class="alert lightPurpleBackground">
                @Html.DisplayFor(model => model.Text)
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-2 PurpleText">Exercise Solution</label>
        <div class="col-md-10">
            <div class="alert lightPurpleBackground">
                @Model.Answer.ToString()
            </div>
        </div>
    </div>

</div>

<hr />
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Subject Page", "Details", "Subject", new { id = Model.SubjectID }, new { })
</div>
