@model WazniakWebsite.Models.Subject
@using PagedList
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Details";
}

@section HeadScripts
{
    <style>
        .radio {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #prompt {
            margin-top: 0;
            margin-bottom: 50px;
        }

        dt {
            color: #660066;
        }
    </style>

    <script type="text/javascript">

        function addNewTask(name, id) {
            if ($('input[name="optionsRadios"]:checked').val() == "option1") {
                window.location = '/RegularTask/Create/' + name + '/' + id;
            }
            else {
                window.location = '/MathematicalTask/Create/' + name + '/' + id;
            }
        }

        function goToTaskDetails(taskType, id) {
            if (taskType == "RegularTask") {
                window.location = '/RegularTask/Details/' + id;
            } else if (taskType == "MathematicalTask") {
                window.location = '/MathematicalTask/Details/' + id;
            }
        }

        $(function () {
            $("#tooltip1,#tooltip2").tooltip({
                animated: 'fade',
                placement: 'bottom'
            });
        });

    </script>
}

<h2 class="PurpleText">Subject details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd><br/></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
            
        <dd><br /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dd><br /></dd>

        <dd>
            <input type="button" value="Add new Exercise" class="btn PurpleBtn" data-toggle="modal" data-target="#addExerciseModal" />
        </dd>

        <dd><br /><br /></dd>

        <dt>
            Exercises
        </dt>

        <dd>
            <br/>
            <br/>
            
            @using (Html.BeginForm())
            {
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label PurpleText">Find exercise by title:</label>
                    </div>
                    <div class="form-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn PurpleBtn">
                    </div>
                </div>    
            }

            <br/>

            <table class="table table-hover">
                <tr class="PurpleText">
                    <th>
                        @Html.ActionLink("Exercise title", "Details", new { sortOrder = ViewBag.SortParam, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Solution
                    </th>
                </tr>
                @foreach (var item in (IPagedList<WazniakWebsite.Models.Task>)ViewBag.Tasks)
                {
                    <tr onclick="goToTaskDetails('@item.className()', @item.ID)">
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @{
                                if (item.Answer != null)
                                {
                                    @item.Answer.Overview()
                                }
                            }
                        </td>
                    </tr>                    
                }
            </table>
            
            Page @(ViewBag.Tasks.PageCount < ViewBag.Tasks.PageNumber ? 0 : ViewBag.Tasks.PageNumber) of @ViewBag.Tasks.PageCount

            @Html.PagedListPager((IPagedList)ViewBag.Tasks, page => Url.Action("Details", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </dd>
    </dl>
</div>

<hr />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- addExerciseModal -->
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title PurpleText" id="myModalLabel">Choose the exercise that you want to create:</h3>
            </div>
            <div class="modal-body">
                <h5 class="PurpleText" id="prompt">Move the mouse over the exercise names, to see a short description.</h5>

                <div class="radio">
                    <label id="tooltip1" data-toggle="tooltip" title="Typical exercise which content is pure text.">
                        <input type="radio" name="optionsRadios" id="regularExerciseOption" value="option1" checked>
                        <h4 class="PurpleText">Regular Exercise</h4>
                    </label>
                </div>

                <div class="radio">
                    <label id="tooltip2" data-toggle="tooltip" title="Exercise that may include special signs, mathematical formulas, etc.">
                        <input type="radio" name="optionsRadios" id="mathematicalExerciseOption" value="option2">
                        <h4 class="PurpleText">Mathematical Exercise</h4>
                    </label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                <button type="button" class="btn PurpleBtn" id="createExerciseBtn" onclick="addNewTask('@Model.Name', '@Model.ID')">Create exercise</button>
            </div>
        </div>
    </div>
</div>