@model PagedList.IPagedList<WazniakWebsite.Models.Subject>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

@section HeadScripts
{
    <style>
        .shortDisplay {
            display: inline-block;
            max-width: 300px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .form-group {
            margin-right: 30px;
        }
    </style> 
}

<h2 class="PurpleText">Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label PurpleText">Find subject by name:</label>
            
        </div>
        <div class="form-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control text-box" })
        </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn PurpleBtn">
            </div>
    </div>
}

<br />

<table class="table table-striped lightPurpleBackground">
    <tr class="PurpleText">
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortParam, currentFilter = ViewBag.CurrentFilter }, 
            new { @class = "PurpleText" })
        </th>
        <th>
            Description
        </th>
        <th>
            Last Updated Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.ID }, new { @class = "PurpleText" })
            </td>
            <td>
                <span class="shortDisplay">
                    @Html.DisplayFor(modelItem => item.Description)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "PurpleText" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "PurpleText" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "PurpleText" })
            </td>
        </tr>
    }
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))