@model PagedList.IPagedList<WazniakWebsite.Models.Subject>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@section HeadScripts
{
    <style>
        .shortDisplay {
            display: inline-block;
            max-width: 300px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .form-group {
            margin-right: 30px;
        }
    </style>

    <script type="text/javascript">
        function editExercise(id) {
            window.location = '/Subject/Edit/' + id;
        }

        function deleteExercise(id) {
            window.location = '/Subject/Delete/' + id;
        }

        function goToExerciseDetails(id) {
            window.location = '/Subject/Details/' + id;
        }

        $(function () {
            $("[id^='tooltipEdit']").tooltip({
                animated: 'fade',
                placement: 'bottom'
            });
            $("[id^='tooltipRemove']").tooltip({
                animated: 'fade',
                placement: 'top'
            });
        });
    </script>
}

<h2 class="PurpleText">Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label PurpleText">Find subject by name:</label>
        </div>
        <div class="form-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn PurpleBtn">
        </div>
    </div>
}

<br />

<table class="table table-hover">
    <tr class="PurpleText">
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Description
        </th>
        <th>
            Last Updated Time
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="clickable" onclick="goToExerciseDetails(@item.ID)">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="clickable" onclick="goToExerciseDetails(@item.ID)">
                <span class="shortDisplay">
                    @Html.DisplayFor(modelItem => item.Description)
                </span>
            </td>
            <td class="clickable" onclick="goToExerciseDetails(@item.ID)">
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <span id="tooltipEdit" class="glyphicon glyphicon-edit PurpleColor clickable" title="Edit" onclick="editExercise('@item.ID')"></span>
            </td>
            <td>
                <span id="tooltipRemove" class="glyphicon glyphicon-trash PurpleColor clickable" title="Delete" onclick="deleteExercise('@item.ID')"></span>
            </td>
        </tr>
    }
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))