@model WazniakWebsite.Models.RegularTask

@{
    ViewBag.Title = "Create";
}

@section HeadScripts
{
    <script type="text/javascript">

        // variable and 2 functions responsible for adding/removing rows for SingleChoiceAnswer
        var rowNumForSingle = 3;
        function addRowForSingle() {
            var row = '<div class="row" id="singleRow_' + rowNumForSingle + '"><div class="col-md-5">' +
                '<input class="form-control" type="text" name="singleChoiceList" /></div><div class="col-md-3">' +
                '<input type="radio" id="singleAnsRadio_' + rowNumForSingle + '"  name="singleRadios" onclick="singleRadioOnClick(' + rowNumForSingle + ')" />' +
                '<label class="PurpleText" id="singleAnsLabel_' + rowNumForSingle + '"></label>' +
                '</div><div class="col-md-1">' +
                '<span class="glyphicon glyphicon-remove PurpleColor clickable" onclick="removeRowForSingle(' + rowNumForSingle + ')"></span>' +
                '</div></div>';

            jQuery('#singleContainer').append(row);
            rowNumForSingle++;
        }

        function removeRowForSingle(id) {
            if ($("#singleAnsRadio_" + id).is(':checked')) {
                $("#singleAnsRadio_0").prop("checked", true);
                singleRadioOnClick(0);
            }

            jQuery('#singleRow_' + id).remove();
            
            // Let's update the actual number of the option that is selected
            $("[name='singleCorrectNo']").val(
                $("[id^='singleAnsRadio_']").index($("input[id^='singleAnsRadio_']:checked"))
            );
        }

        // variable and 2 functions responsible for adding/removing rows for MultipleChoiceAnswer
        var rowNumForMultiple = 3;
        function addRowForMultiple() {
            var row = '<div class="row" id="multiRow_' + rowNumForMultiple + '"><div class="col-md-5">' +
                '<input class="form-control" type="text" name="multiChoiceList" /></div><div class="col-md-3">' +
                '<input type="checkbox" id="multiAnsCheckbox_' + rowNumForMultiple + '" onclick="multiCheckboxOnClick(' + rowNumForMultiple + ')" />' +
                '<input type="text" name="multiAnswerList" id="multiAnsHiddenInput_' + rowNumForMultiple + '" value="False" hidden="" />' +
                '<label class="PurpleText" id="multiAnsLabel_' + rowNumForMultiple + '">False</label>' +
                '</div><div class="col-md-1">' + 
                '<span class="glyphicon glyphicon-remove PurpleColor clickable" onclick="removeRowForMultiple(' + rowNumForMultiple + ')"></span>' + 
                '</div></div>';
                
            jQuery('#multiContainer').append(row);
            rowNumForMultiple++;
        }

        function removeRowForMultiple(id) {
            jQuery('#multiRow_' + id).remove();
        }

        function singleRadioOnClick(id) {
            $("[id^='singleAnsLabel_']").empty();
            $("#singleAnsLabel_" + id).append("Correct");

            // The code below will update the actual number of the option that is selected
            $("[name='singleCorrectNo']").val(
                $("[id^='singleAnsRadio_']").index($("#singleAnsRadio_" + id))
            );
        }

        function multiCheckboxOnClick(id) {
            if ($("#multiAnsCheckbox_" + id).is(':checked')) {
                $("#multiAnsLabel_" + id).empty();
                $("#multiAnsLabel_" + id).append("True");
                $("#multiAnsHiddenInput_" + id).val("True");
            } else {
                $("#multiAnsLabel_" + id).empty();
                $("#multiAnsLabel_" + id).append("False");
                $("#multiAnsHiddenInput_" + id).val("False");
            }
        }

        function selectPreviousAnswer() {
            switch ("@ViewBag.PreviouslySelectedAnswer") {
            case "@ViewBag.SingleValueAnswer":
                $("#tooltip1").tab('show');
                $("#answerTypeInput").val("@ViewBag.SingleValueAnswer");
                break;
            case "@ViewBag.TextAnswer":
                $("#tooltip2").tab('show');
                $("#answerTypeInput").val("@ViewBag.TextAnswer");
                break;
            case "@ViewBag.SingleChoiceAnswer":
                $("#tooltip3").tab('show');
                $("#answerTypeInput").val("@ViewBag.SingleChoiceAnswer");
                break;
            case "@ViewBag.MultipleValueAnswer":
                $("#tooltip4").tab('show');
                $("#answerTypeInput").val("@ViewBag.MultipleChoiceAnswer");
                break;
            }
        }

        $(function () {
            $("#SubjectID").val("@ViewBag.SubjectId");

            selectPreviousAnswer();

            $("#answerTypeInput").hide();
            $("#subjectNameInput").hide();
            $("#subjectIdInput").hide();

            $('.nav-pills a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            
                switch ($(this).attr('id')) {
                case "tooltip1":
                    $("#answerTypeInput").val("@ViewBag.SingleValueAnswer");
                    break;
                case "tooltip2":
                    $("#answerTypeInput").val("@ViewBag.TextAnswer");
                    break;
                case "tooltip3":
                    $("#answerTypeInput").val("@ViewBag.SingleChoiceAnswer");
                    break;
                case "tooltip4":
                    $("#answerTypeInput").val("@ViewBag.MultipleChoiceAnswer");
                    break;
                }

                goToByScroll();
            });

            $("#tooltip1,#tooltip2,#tooltip3,#tooltip4").tooltip({
                animated: 'fade',
                placement: 'bottom'
            });
            
            $("#singleAnsRadio_0").prop("checked", true);
            singleRadioOnClick(0);
        });

        function goToByScroll() {
            // Scroll
            $("html,body").animate(
                { scrollTop: $("#pill_content").offset().top },
                'slow');
        }

    </script>
    
    <script type="text/javascript">
        var isModuleSaveBtnVisible = 0;

        $(function () {
            $("#moduleSaveBtn").hide();
            $("#moduleSaveBtn").attr('disabled', 'disabled');

            $("#newModuleInput").keyup(function () {
                if ($("#newModuleInput").val() == "") {
                    hideSaveBtn();
                    return;
                }
                showSaveBtn();
            });
        });
        
        function showSaveBtn() {
            if (isModuleSaveBtnVisible == 0) {
                isModuleSaveBtnVisible = 1;

                $("#saveMsgSpan").text("");
                $("#saveMsgErrorSpan").text("");

                $("#moduleSaveBtn").show(500);
                $("#moduleSaveBtn").removeAttr('disabled');
            }
        }

        function hideSaveBtn() {
            if (isModuleSaveBtnVisible == 1) {
                isModuleSaveBtnVisible = 0;
                $("#moduleSaveBtn").hide(500);
                $("#moduleSaveBtn").attr('disabled', 'disabled');
            }
        }
        
        function showSaveCompletedCommunicate(msg) {
            $("#saveMsgSpan").text(msg);
        }

        function showSaveErrorCommunicate(msg) {
            $("#saveMsgErrorSpan").text(msg);
        }

        function addNewModule() {
            var title = $("#newModuleInput").val();
            if (title == "") {
                showSaveErrorCommunicate("Fill in the module name first!");
                return ;
            }
            var subject = parseInt("@ViewBag.SubjectId");

            $.ajax({
                url: '@Url.Action("AddNewModule", "Subject")',
                type: 'POST',
                dataType: 'json',
                cache: false,
                data: { subjectId: subject, newModuleTitle: title },
                traditional: true,
                statusCode: {
                    404: function () {
                        showSaveErrorCommunicate('Could not contact server - please try again later.');
                    },
                    500: function () {
                        showSaveErrorCommunicate('A server-side error has occurred - please try again later.');
                    }
                },
                success: function (data) {
                    hideSaveBtn();
                    $("#saveMsgErrorSpan").text("");
                    showSaveCompletedCommunicate(data.msg);
                    updateModuleDropdownList(title, data.id);
                    $("#newModuleInput").val("");
                },
                error: function () {
                    showSaveErrorCommunicate('An error have occurred - please try again and in case of another failure contact administrators.');
                }
            });
        }

        function updateModuleDropdownList(title, id) {
            $("#ModuleID").append($('<option/>', {
                value: id,
                text: title
            }));
            $("#ModuleID").val(id);
        }
    </script>

    <style>
        textarea {
            max-width: 100% !important;
            width: 100% !important;
            padding-left: 5px;
            padding-right: 5px;
        }

        div[id^="multiRow_"], div[id^="singleRow_"] {
            margin-bottom: 15px;
        }

        .modulePanel {
            float: left;
            margin-right: 10px;
        }
    </style>
}

<h2 class="PurpleText">Create</h2>

<div class="form-group">
    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2 PurpleText" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>
</div>

@Html.Partial("_UploadFiles")


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="PurpleText">Create regular exercise and add it to the <b><i>@ViewBag.SubjectName</i></b> subject.</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SubjectID)
        
        <div class="form-group">
            <label class="control-label col-md-2 PurpleText" for="ModuleID">Module</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.ModuleID, (IEnumerable<SelectListItem>)ViewBag.ModuleID, new { @class = "form-control PurpleText modulePanel" })
                @Html.ValidationMessageFor(model => model.ModuleID)
                <input type="text" class="form-control PurpleText modulePanel" id="newModuleInput" placeholder="New module" />
                <input type="button" class="btn PurpleBtn modulePanel" value="Add module" id="moduleSaveBtn" onclick="addNewModule()" />
                <div>
                    <span class="field-validation-error" id="saveMsgErrorSpan"></span>
                    <span class="text-success" id="saveMsgSpan"></span>
                </div>
            </div>
        </div>

        





        <div class="form-group">
            <label class="control-label col-md-2 PurpleText" for="Text">Content</label>
            <div class="col-md-10">
                <textarea class="form-control" id="Text" name="Text" rows="8"></textarea>
                <span class="field-validation-valid" data-valmsg-for="Text" data-valmsg-replace="true"></span>
            </div>
        </div>

        <br />
        <h4 class="PurpleText">What kind of Answer do you want for this Exercise?</h4>
        <br />

        <div class="form-group">
            <div class="col-lg-offset-2 col-md-10">
                <ul class="nav nav-pills">
                    <li><a href="#SingleValueAnswer_pill" id="tooltip1" class="" data-toggle="tooltip" title="Single Value Answer is supposed to be short and simple to enter on a phone, like a number, single word, etc.">Single Value Answer</a></li>
                    <li><a href="#TextAnswer_pill" id="tooltip2" class="" data-toggle="tooltip" title="Text Answer allows you to provide a long solution of an exercise.">Text Answer</a></li>
                    <li><a href="#SingleChoiceAnswer_pill" id="tooltip3" class="" data-toggle="tooltip" title="Single Choice Answer consists of many options to choose, out of which only one is correct.">Single Choice Answer</a></li>
                    <li><a href="#MultipleChoiceAnswer_pill" id="tooltip4" class="" data-toggle="tooltip" title="Multiple Choice Answer consists of many options to choose, but (in contrary to Single Choice Answer) every one might be correct or wrong.">Multiple Choice Answer</a></li>
                </ul>

                <br />

                <div class="pill-content" id="pill_content">

                    <input id="answerTypeInput" type="text" name="answerType" value="@ViewBag.NoAnswer" />
                    <input id="subjectNameInput" type="text" name="subjectName" value="@ViewBag.SubjectName" />
                    <input id="subjectIdInput" type="number" name="subjectId" value="@ViewBag.SubjectId" />

                    <div class=" pill-pane fade" id="SingleValueAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Single Value Answer is supposed to be short and simple to enter on a phone, like a number, single word, etc.</h5>
                        </div>

                        <br />

                        <input class="form-control" id="valueInput" type="text" name="valueAns" />
                        <span class="field-validation-error">@ViewBag.SingleValueStatement</span>
                    </div>

                    <div class="pill-pane fade" id="TextAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Text Answer allows you to provide a long solution of an exercise.</h5>
                        </div>

                        <br />

                        <textarea class="form-control" id="textInput" name="textAns" rows="8"></textarea>
                        <span class="field-validation-error">@ViewBag.TextStatement</span>
                    </div>

                    <div class="pill-pane fade" id="SingleChoiceAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Single Choice Answer consists of many options to choose, out of which only one is correct.</h5>
                        </div>

                        <br />
                        
                        <div class="container" id="singleContainer">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5 class="PurpleText">Type the options below</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="PurpleText">Select the correct one</h5>
                                </div>
                                <div class="col-md-offset-1 col-md-2">
                                    <input type="button" value="Add Row" class="btn PurpleBtn" onclick="addRowForSingle()" />
                                </div>
                            </div>

                            <br />
                            
                            <input type="number" name="singleCorrectNo" hidden="" />

                            @for (var i = 0; i < 3; i++)
                            {
                                <div class="row" id="singleRow_@(i)">
                                    <div class="col-md-5">
                                        <input class="form-control" type="text" name="singleChoiceList" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="radio" id="singleAnsRadio_@(i)" name="singleRadios" onclick="singleRadioOnClick(@i)" />
                                        <label class="PurpleText" id="singleAnsLabel_@(i)"></label>
                                    </div>
                                </div>
                            }
                        </div>
                        <span class="field-validation-error">@ViewBag.SingleChoiceStatement</span>
                    </div>

                    <div class="pill-pane fade" id="MultipleChoiceAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Multiple Choice Answer consists of many options to choose, but (in contrary to Single Choice Answer) every one might be correct or wrong.</h5>
                        </div>

                        <br />
                        
                        <div class="container" id="multiContainer">
                            <div class="row">
                                <div class="col-md-5">
                                    <h5 class="PurpleText">Type the options below</h5>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="PurpleText">Select the ones which are true</h5>
                                </div>
                                <div class="col-md-offset-1 col-md-2">
                                    <input type="button" value="Add Row" class="btn PurpleBtn" onclick="addRowForMultiple()" />
                                </div>
                            </div>

                            <br />
                            
                            @for (var i = 0; i < 3; i++)
                            {
                                <div class="row" id="multiRow_@(i)">
                                    <div class="col-md-5">
                                        <input class="form-control" type="text" name="multiChoiceList" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="checkbox" id="multiAnsCheckbox_@(i)" onclick="multiCheckboxOnClick(@i)" />
                                        <input type="text" name="multiAnswerList" id="multiAnsHiddenInput_@(i)" value="False" hidden="" />
                                        <label class="PurpleText" id="multiAnsLabel_@(i)">False</label>
                                    </div>
                                </div>
                            }
                        </div>
                        <span class="field-validation-error">@ViewBag.MultiChoiceStatement</span>
                    </div>
                </div>
            </div>
        </div>
                
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn PurpleBtn" />
                <span class="field-validation-error">@ViewBag.NoAnswerPickedStatement</span>
            </div>
        </div>
    </div>
}
