@model WazniakWebsite.Models.RegularTask

@{
    ViewBag.Title = "Create";
}

@section HeadScripts
{
    <script type="text/javascript">
        
        function selectPreviousAnswer() {
            switch ("@ViewBag.PreviouslySelectedAnswer") {
                case "@ViewBag.SingleValueAnswer":
                    $("#tooltip1").tab('show');
                    $("#answerTypeInput").val("@ViewBag.SingleValueAnswer");
                    break;
                case "@ViewBag.TextAnswer":
                    $("#tooltip2").tab('show');
                    $("#answerTypeInput").val("@ViewBag.TextAnswer");
                    break;
                case "@ViewBag.SingleChoiceAnswer":
                    $("#tooltip3").tab('show');
                    $("#answerTypeInput").val("@ViewBag.SingleChoiceAnswer");
                    break;
                case "@ViewBag.MultipleValueAnswer":
                    $("#tooltip4").tab('show');
                    $("#answerTypeInput").val("@ViewBag.MultipleChoiceAnswer");
                    break;
            }
        }

        $(function () {
            $("#SubjectID").val("@ViewBag.SubjectId");

            selectPreviousAnswer();

            $("#answerTypeInput").hide();
            $("#subjectNameInput").hide();
            $("#subjectIdInput").hide();

            $('.nav-pills a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            
                switch ($(this).attr('id')) {
                case "tooltip1":
                    $("#answerTypeInput").val("@ViewBag.SingleValueAnswer");
                    break;
                case "tooltip2":
                    $("#answerTypeInput").val("@ViewBag.TextAnswer");
                    break;
                case "tooltip3":
                    $("#answerTypeInput").val("@ViewBag.SingleChoiceAnswer");
                    break;
                case "tooltip4":
                    $("#answerTypeInput").val("@ViewBag.MultipleChoiceAnswer");
                    break;
                }

                goToByScroll();
            });

            $("#tooltip1,#tooltip2,#tooltip3,#tooltip4").tooltip({
                animated: 'fade',
                placement: 'bottom'
            });
        });

        function goToByScroll() {
            // Scroll
            $("html,body").animate(
                { scrollTop: $("#pill_content").offset().top },
                'slow');
        }

    </script>
    
    <style>
        textarea {
            max-width: 100% !important;
            width: 100% !important;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
}

<h2 class="PurpleText">Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="PurpleText">Create regular exercise and add it to the <b><i>@ViewBag.SubjectName</i></b> subject.</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SubjectID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2 PurpleText" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2 PurpleText" for="Text">Content</label>
            <div class="col-md-10">
                <textarea class="form-control" id="Text" name="Text" rows="8"></textarea>
                <span class="field-validation-valid" data-valmsg-for="Text" data-valmsg-replace="true"></span>
            </div>
        </div>

        <br />
        <h4 class="PurpleText">What kind of Answer do you want for this Exercise?</h4>
        <br />

        <div class="form-group">
            <div class="col-lg-offset-2 col-md-10">
                <ul class="nav nav-pills">
                    <li><a href="#SingleValueAnswer_pill" id="tooltip1" class="" data-toggle="tooltip" title="Single Value Answer is supposed to be short and simple to enter on a phone, like a number, single word, etc.">Single Value Answer</a></li>
                    <li><a href="#TextAnswer_pill" id="tooltip2" class="" data-toggle="tooltip" title="Text Answer allows you to provide a long solution of an exercise.">Text Answer</a></li>
                    <li><a href="#AbcdAnswer_pill" id="tooltip3" class="" data-toggle="tooltip" title="Single Choice Answer consists of many options to choose, out of which only one is correct.">Single Choice Answer</a></li>
                    <li><a href="#MultipleChoiceAnswer_pill" id="tooltip4" class="" data-toggle="tooltip" title="Multiple Choice Answer consists of many options to choose, but (in contrary to Single Choice Answer) every one might be correct or wrong.">Multiple Choice Answer</a></li>
                </ul>

                <br />

                <div class="pill-content" id="pill_content">

                    <input id="answerTypeInput" type="text" name="answerType" value="@ViewBag.NoAnswer" />
                    <input id="subjectNameInput" type="text" name="subjectName" value="@ViewBag.SubjectName" />
                    <input id="subjectIdInput" type="number" name="subjectId" value="@ViewBag.SubjectId" />

                    <div class=" pill-pane fade" id="SingleValueAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Single Value Answer is supposed to be short and simple to enter on a phone, like a number, single word, etc.</h5>
                        </div>

                        <br />

                        <input class="form-control" id="valueInput" type="text" name="valueAns" />
                        <span class="field-validation-error">@ViewBag.SingleValueStatement</span>
                    </div>

                    <div class="pill-pane fade" id="TextAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Text Answer allows you to provide a long solution of an exercise.</h5>
                        </div>

                        <br />

                        <textarea class="form-control" id="textInput" name="textAns" rows="8"></textarea>
                        <span class="field-validation-error">@ViewBag.TextStatement</span>
                    </div>

                    <div class="pill-pane fade" id="AbcdAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Single Choice Answer consists of many options to choose, out of which only one is correct.</h5>
                        </div>

                        <br />

                    </div>

                    <div class="pill-pane fade" id="MultipleChoiceAnswer_pill">
                        <div class="well">
                            <h5 class="PurpleText">Multiple Choice Answer consists of many options to choose, but (in contrary to Single Choice Answer) every one might be correct or wrong.</h5>
                        </div>

                        <br />

                    </div>
                </div>
            </div>
        </div>
                
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn PurpleBtn" />
                <span class="field-validation-error">@ViewBag.NoAnswerPickedStatement</span>
            </div>
        </div>
    </div>
}

<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}