@model IEnumerable<WazniakWebsite.Models.AbcdAnswer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped lightPurpleBackground">
    <tr class="PurpleText">
        <th>
            @Html.DisplayNameFor(model => model.A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.A)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

</table>
